
<br>
<form  [formGroup]="addForm" >
    <h1>STAFF REGISTRATION FORM</h1>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 example-full-width">
                <mat-label>Force Number</mat-label>
                <input matInput placeholder="Enter Force number" formControlName="force_number">
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 example-full-width">
                <mat-label>Rank</mat-label>
                <input matInput placeholder="Enter Rank" formControlName="rank">
                
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 example-full-width">
                <mat-label>First name</mat-label>
                <input matInput placeholder="Enter First name" formControlName="first_name">
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 example-full-width">
                <mat-label>Middle</mat-label>
                <input matInput placeholder="Enter Middle name" formControlName="middle_name">
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 example-full-width">
                <mat-label>Last name</mat-label>
                <input matInput  placeholder="Enter Last name" formControlName="last_name">
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 example-full-width">
                <mat-label>Gender</mat-label>
                <input matInput placeholder="Gender" formControlName="gender">
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 example-full-width">
                <mat-label>Check number</mat-label>
                <input matInput placeholder="Enter check number" formControlName="check_number">
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 example-full-width">
                <mat-label>Education</mat-label>
                <input matInput placeholder="Education Level" formControlName="education_level">
              </mat-form-field>
        </div>

        <!-- <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->

          <!-- <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select> -->
          <!-- <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Default radio
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Default checked radio
            </label>
          </div> -->
          

        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 example-full-width">
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date_of_birthday">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                <!-- <input matInput type="date" placeholder="Date of birthday" formControlName="date_of_birthday"> -->
                
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 example-full-width">
                <mat-label>working</mat-label>
                <input matInput placeholder="region of working" formControlName="region_name">
              </mat-form-field>
        </div>
    </div>
    <button mat-raised-button color="primary" [disabled]="addForm.invalid" (click)="onSave()">save</button>
    </form>