<table id="customers">
    <thead>
    <tr>
      <th>region id</th>
      <th>region name</th>
      
    </tr>
</thead>
<tbody>
    <!-- <tr *ngFor="let item of StaffList">
        <td><button mat-raised-button color="basic" (click)="ViewStaff(item)">{{item.force_number}}</button></td>
        <td>{{item.rank}}</td>
        <td>{{item.first_name}}</td>
        <td>{{item.middle_name}}</td>
        <td>{{item.last_name}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.check_number}}</td>
        <td>{{item.education_level}}</td>
        <td>{{item.date_of_birthday}}</td>
        <td>{{item.region_name}}</td>
    </tr> -->

</tbody>
   
        

</table>