<div class="row">
    <div class="col-md-3">
        <div class="card card-body bg-primary text-white mb3">
            <label for="">Total Staff</label>
            <h1>5</h1>

        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body bg-primary text-white mb3">
            <label for="">Total phq</label>
            <h1>5</h1>

        </div>
    </div><div class="col-md-3">
        <div class="card card-body bg-primary text-white mb3">
            <label for="">Total North Zanzibar</label>
            <h1>5</h1>

        </div>
    </div><div class="col-md-3">
        <div class="card card-body bg-primary text-white mb3">
            <label for="">Total South Zanzibar</label>
            <h1>5</h1>

        </div>
    </div>
</div>